body{
    background-image: url("https://i.pinimg.com/originals/91/e1/36/91e136e1673e4cb50bfd7ba82721bd3d.jpg");
    font-family: 'Press Start 2P', cursive;
}



image{
    background-color: transparent;
}

h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    text-align: center;
}

.promptBox{
    text-align: center;
    font-size: 35PX;
    color: #1F51FF;

}

.answerBox{
    text-align: center;
}


#start{
   justify-content: center;
   border-radius: 200px;
}




.buttonBoxes{
    display: grid;
    grid-template-columns: repeat(2, auto) ;
    justify-content: center;
    padding: 60px;
    
}




button{
    
    padding: 2rem;
    margin: 0.5rem;
    width: 200px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    background-color: transparent;
    text-align: center;
    color: #1F51FF;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
}    

.button:hover{
    background-color: transparent
}

.button:active{
    background-color: transparent;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
